@font-face {
    font-family: 'bulle';
    font-weight: normal;
    src: local('bulle'), url('Bubble3D.otf') format('opentype');
    }

html {
    background-color: lightblue;
}

* {
    margin : 0;
    padding : 0;
    overflow : hidden;
    user-select: none;
}

#sectionOrange {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    margin-top: 5%;
    padding-bottom: auto;
    justify-content: center;
    font-family: 'bulle' !important;
    text-align: center;
    color: black ;
    font-size: 4rem;

}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    gap: 1rem; 
}

#sectionOrange {
   
    padding: 1rem;
    border: 1px solid #000;
    width: 50%;
    height: 70vh;

}

#sectionBonus {
    
    padding: 1rem;
    border: 1px solid #000;
    width: 50%;
    height: 70vh;
}
#updateScore, #PerSec {
    top: 0;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    width : 100%;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.4);
}


#orangeOnClick {
    width : 300px;
    cursor : pointer;
    filter : drop-shadow(0 0 2px white);
    animation: rotate 100s linear infinite;
}

#orangeOnClick:active {
    width: 280px;
}
/* Keyframes */
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    #sectionBonus {
        width: 100%;
        height: 30vh;
    }
    #sectionOrange {
        width: 100%;
        height: 30vh;
    }
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}