@font-face {
    font-family: 'bulle';
    font-weight: normal;
    src: local('bulle'), url('fonts/Nightmare\ Codehack.otf') format('opentype');
    }

@font-face {
    font-family: 'textegame';
    font-weight: normal;
    src: local('textegame'), url('fonts/Invasion2000.ttf') format('truetype');
    }

    @font-face {
        font-family: 'texte';
        font-weight: normal;
        src: local('texte'), url('fonts/advanced_pixel_lcd-7.ttf') format('truetype');
        }

html {
    background-color: lightblue;
}

* {
    overflow: hidden;
    user-select: none;
}
header {
    border: #000 3px solid;
    margin-bottom: 2vh;
}
h1 {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 0;
    justify-content: center;
    font-family: 'bulle' !important;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 140, 0) ;
    font-size: 12vh !important;
}

main {
    display: flex;
    justify-content: space-between;
    border: #000 solid 2px;
    height: 80vh;
}
/* Section orange  */
#sectionOrange {
    border: 1px solid red;
    width: 50%;
    height: fit-content;
    margin-right: 2vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#orangeImg {
     border: 1px solid blue; 
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 1vh;
}

img#orangeOnClick {
    width: 25rem;
}

.time {
    display: none;
}

/* Parti Score */
#compte {
    border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: center;  
}

#compte ul {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0;
    margin: 0;
}

#updateScore, #PerSec {
    font-family: 'textegame' !important;
    font-style: normal;
    font-weight: 1000 !important;
    color: rgb(255, 140, 0) ;
    font-size: 3vh;
    /* border: 1px solid purple; */
}

/* Animation  */
#orangeOnClick {
    cursor : pointer;
    filter : drop-shadow(0 0 2px white);
    animation: rotate 100s linear infinite;
   
}

#orangeOnClick:active {
    width: 50vh;
}

/* Section Bonus */
#sectionBonus {
    display: flex;
    align-items: space-between;
    padding-left: 1rem;
    border: 1px #000;
    width: 50%;
    padding: 0;
    border: 2px solid rgb(207, 18, 18); 
    height: 50vh;  
}
#bonusContainer {
    margin-top: 10vh;
    border: solid #000 5px ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  
}

h3 {
    border: #000 solid 1px;
    font-family: 'textegame' !important;
    font-style: normal;
    font-weight: 1000 !important;
    color: rgb(255, 140, 0) ;
    font-size: 6vh;
    margin: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#listeBonus {
    padding-left: 0%;
    margin: 0;
    border: #d50a0a 7px solid; 
    height: 70%;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

}

#listeBonus li {
    border: solid #a35656 2px;
    height: 25%;
    width: 100%;
    margin: 0%;
    padding: 0%; 
    
}

#multiplicateurBonus, #autoClickBonus, #boostBonus {
    border: 10px purple solid;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0%;
    
    
}




/* Keyframes */
@media screen and (max-width: 700px) {
    
    main {
        flex-direction: column;
    }

    h1{
        font-size: 7vh !important;
        font-weight: 900;
    }
    h3 {
        font-size: 5vh;
    }
    #sectionBonus {
        display: flex;
        justify-content: center;
        width: 99%;
        margin-top: 2vh;
        height: 15vh !important;
        padding: 0;
        border: 2px solid black;
   }

    #sectionOrange {
        width: 99%;
        display: inline-flex;
        flex-direction: column;
        border: 1px solid rgb(130, 130, 188);
        
    }
    #listeBonus {
        display: inline-flex;
        flex-direction: row;
        padding-left: 0;
    }
    
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}