@font-face {
    font-family: 'bulle';
    font-weight: normal;
    src: local('bulle'), url('fonts/Nightmare\ Codehack.otf') format('opentype');
    }

@font-face {
    font-family: 'textegame';
    font-weight: normal;
    src: local('textegame'), url('fonts/Invasion2000.ttf') format('truetype');
    }

html {
    background-color: lightblue;
}

* {
    overflow: hidden;
    user-select: none;
    max-width: 99%;
}

h1 {
    display: flex;
    margin-top: 5vh;
    margin-bottom: 0;
    padding-bottom: 2vh;
    justify-content: center;
    font-family: 'bulle' !important;
    text-align: center;
    color: rgb(233, 134, 12) ;
    font-size: 10vh;
}

main {
    display: flex;
    justify-content: space-between;
}

#sectionOrange {
    border: 1px solid red;
    width: 50%;
    height: fit-content;
    margin: 2vh;
}


#orangeImg {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center; 
    max-width: 100%;
}

#orangeOnClick {
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
    width: 90vh;
    display: block;
}

#compte {
    border: 1px solid green;
    width: 100%;
    display: flex;
    justify-content: center !important;
    
}
#compte ul {
    padding-left: 0;
}

#sectionBonus {
    padding: 1rem;
    border: 1px solid #000;
    width: 50%;
    height: 70vh;
}
#updateScore, #PerSec {
    font-family: 'textegame' !important;
    color: rgb(233, 134, 12) ;
    font-size: 3vh;
    border: 1px solid purple;
}


#orangeOnClick {
    cursor : pointer;
    filter : drop-shadow(0 0 2px white);
    animation: rotate 100s linear infinite;
   
}



#orangeOnClick:active {
    width: 50vh;
}
/* Keyframes */
@media (max-width: 600px) {
    main {
        flex-direction: column;
    }
    #sectionBonus {
        width: 100%;
        height: 30vh;
    }
    #sectionOrange {
        display: flex;
        width: 100%;
        height: 50vh;
        display: inline-flex;
        flex-direction: column;
    }
    #listeBonus {
        display: inline-flex;
        flex-direction: row;
    }
    #orangeOnClick { 
        
    }
    #orangeImg {
        
        
    }
}
@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}